
body{
	text-align:center;
	font-size: 20px;

	background: none;
	font-family: Androgyne;
	background-image: url('imagenes/s01.png'), url('imagenes/s02.png'), url('imagenes/s03.png');
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index:1;
	-webkit-animation: snow 10s linear infinite;
	-moz-animation: snow 10s linear infinite;
	-ms-animation: snow 10s linear infinite;
	animation: snow 10s linear infinite;
}
@keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-moz-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 400px 1000px, 200px 400px, 100px 300px;}
}
@-webkit-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-ms-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}


#loginForm {
	display: inline;
	font-weight: bold;

}

#login{
	background-color: rgb(204, 204, 204);
	border-radius: 4px;
	width: 300px;
	margin: 0 auto;
	position: absolute;
	float: right;
	vertical-align: top; 
	margin: 20px;
	top: 20px;
	right: 50px;
	border: solid 2px #888;

}
form#inicio{
	background-color: rgb(204, 204, 204);
	border-radius: 4px;
	width: 300px;
	margin: 0 auto;
}
img#logo{
	height: 150px;
	width: 250px;
	
}
div#botones{
	margin: 0 auto;
	padding: 15px;
	width: 500px;
}
form#respuestas{
	width: 390px;
}

textarea{
	margin: 0 auto;
}

.resp{
	float: left;
	display: inline;
}

.fechas{
	display: block;
}
